<a href="https://colab.research.google.com/github/Eswari-21/CPT_Class_2/blob/main/CPT_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function
### Argument pass with return
### Argument pass without return value
###  NO Argument pass with return value
### NO argument pass with no return value

In [ ]:
def hi(name):
  return f"Hello,{name}"
print(hi("Eshu Naidu"))

Hello,Eshu Naidu

In [ ]:
# function with default parameters
def sample(x,y=1):
  return x*y

print(sample(5))
print(sample(5,3))

5
15

In [ ]:
# functions with keyword argument * to pass the n no of arguments
def result(*args):
  return sum(args)
print(result(1,2,3))
print(result(11,22,33,44))

6
110

In [ ]:
# functions with keyword arguments **
def info(**kwargs):    # k-key w-word args-argument
  for key, value in kwargs.items():
    print(f"{key} : {value}")
info(name="Eshu", age=20, city="Vijayawada")

name : Eshu
age : 20
city : Vijayawada

## lambda function

In [ ]:

sq = lambda x: x*x
print(sq(5))
add = lambda x,y: x+y
print(add(3,5))
mul = lambda x,y,z: x*y*z
print(mul(3,5,2))

25
8
30

#### write a program to retrurn n number of multiple values where passing a list of 1 to 5 elements return the min max and avg in a single funtion

In [ ]:
def allnum(n):
  return min(n), max(n), sum(n)/len(n)
min_val, max_val, avg = allnum([1,2,3,4,5])
print(f"Min : {min_val}, Max : {max_val}, avg: {avg}")

Min : 1, Max : 5, avg: 3.0

# Recursive Functions

#### Direct - fuction call itself directly eg:Factorial
#### Indirect - two or more functions call each other, eg:we use greedy method
#### Tail - ending, example:Factorial 5*4*3*2*1
#### Head or NON Tail - starting
#### Tree - root, left and right
#### Linear - Calling itself only once
#### Binary - Calling itself twice
#### Multiple - one function invoke to other fuctions
#### Nested - nest within the  multiple nested
#### Mutual - one function to other function
#### Divide and Conquer - break function into multiple and solve
#### Absolute or Static - after return it calls multiple times same function

## Direct recursive

In [ ]:
# direct recursion fact

def fact(n):
  if n==0 or n==1:
    return 1
  return n* fact(n-1)
print(fact(5))

120

## Indirect Recursive

In [ ]:
def even(n):
  if n==0:
    return True
  return odd(n-1)
def odd(n):
  if n==0:
    return False
  return even(n-1)
print(even(4))
print(odd(3))

True
True

## Tail Recursive

In [ ]:
def fact(n, t=1):
  if n==0 or n==1:
    return t
  return fact(n-1, n*t)
print(fact(5))

120

## Linear Recursive

In [ ]:
def total(n):
  if n<=0:
    return 0
  return n+total(n-1)
print(total(10))

55

## Nested Recursive

## nested recursion for super factorial
###### EXAMPLE : factor (3!) -> (3 * 2 * 1)! = 6 , Super factor 3! * 2! * 1! = 6 * 4 * 1 = 12

In [ ]:

def sfact(n):
  if n<=0:
    return 1
  return fact(n) *sfact(n-1)
def fact(n):
  if n<=1:
    return 1
  return n * fact(n-1)
print(sfact(3))
print(fact(3))

12
6

## Power Tower
##### (2,3) 2 means base value 3 means exponential
#####  (2,3) -> (2 ^ (2 ^ 2)) = 2 ^ (4) = 16

In [ ]:
def pt(a,n):
  if n==1:
    return a
  return a**pt(a, n-1)
print(pt(2,3))
print(pt(2,4))

16
65536